@charset "UTF-8";
/* Colores para los textos de la pagina dentro de arrays (map geto)*/
/* Colores para el diseño de la pagina dentro de arrays (map geto)*/
/* Colores redes sociales dentro de arrays (map geto)*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* normalizar los enlaces para que no tengan estilos y un color especifico */
ol,
ul {
  list-style: none; }

a {
  list-style-type: none;
  text-decoration: none;
  color: #F0F0F0; }

.fa-linkedin:hover {
  color: #068DA9;
  font-size: x-large; }

.fa-instagram:hover {
  color: #590696;
  font-size: x-large; }

.fa-facebook:hover {
  color: #2B3467;
  font-size: x-large; }

.fa-twitter:hover {
  color: #00C1D4;
  font-size: x-large; }

.fa-github-square:hover {
  color: #212A3E;
  font-size: x-large; }

body .header,
body .footer {
  /*CONDICION PRINCIPAL*/
  /*si no es ninguna de las anteriores*/
  background-color: #3C486B; }

body .main__Section {
  /*CONDICION PRINCIPAL*/
  /*si no es ninguna de las anteriores*/
  background-color: #F0F0F0; }
  body .main__Section .main__Section--img-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-1;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-2;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-3;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-4 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-4;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-5 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-5;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-6 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-6;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-7 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-7;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }
  body .main__Section .main__Section--img-8 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: img-8;
    border-radius: 3px;
    box-shadow: 3px 3px 6px #526D82, -3px -3px 6px #9DB2BF; }

.header {
  display: flex;
  flex-direction: "";
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  background-color: #F0F0F0;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .header {
      height: max-content; } }
  .header img {
    height: 60%;
    border-radius: 100%; }
    @media screen and (max-width: 480px) {
      .header img {
        height: 5vh; } }
  .header nav a {
    margin: 0 1rem; }

.footer {
  display: flex;
  flex-direction: " ";
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  background-color: "";
  justify-content: space-around;
  align-items: center; }
  .footer a h3 {
    padding: 10px; }
    .footer a h3:active {
      border-radius: 2px;
      border: 1px solid #F0F0F0; }
  .footer__Nav a i {
    margin: 0 1rem;
    color: #F0F0F0;
    font-size: x-large; }

.main__Section {
  background-color: #F0F0F0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(7, 12%);
  grid-template-areas: " .   .     .     .     .   . " " . img-1 img-2 img-2 img-5 . " " . img-1 img-3 img-4 img-5 . " " . img-1 img-3 img-4 img-5 . " " . img-1 img-6 img-6 img-6 . " " . img-7 img-7 img-7 img-7 . " " . img-7 img-7 img-7 img-7 . " " .   .     .     .     .   . ";
  gap: 1rem; }
  @media screen and (max-width: 760px) {
    .main__Section {
      /* Primer paremetro son las row  -> luego son las columns */
      grid-template: 20px repeat(7, 1fr) 25px/1rem repeat(3, 1fr) 1rem;
      grid-template-areas: " .   .     .     .    . " " . img-1 img-2 img-2  . " " . img-1 img-3 img-3  . " " . img-4 img-4 img-4  . " " . img-4 img-4 img-4  . " " . img-5 img-5 img-5  . " " . img-6 img-6 img-7  . " " . img-6 img-6 img-7  . " " .   .     .     .    . "; } }
  @media screen and (max-width: 480px) {
    .main__Section {
      grid-template: repeat(7, 1fr)/repeat(1, 100%);
      grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7";
      padding: 20px 10px; } }
