.footer {
    @include flexible(flex, " ", wrap, 100%, 10vh, "", space-around, center);

    & a {

        & h3 {
            padding: 10px;

            &:active {
                border-radius: 2px;
                border: 1px solid map-get($map: $colores__Detalles, $key: "texto");
            }
        }
    }

    &__Nav {

        & a {

            & i {
                margin: 0 1rem;
                color: map-get($map: $colores__Detalles, $key: "texto");
                font-size: x-large;
            }
        }
    }
}