.header {
    @include flexible(flex, "", wrap, 100%, 10vh, map-get($map: $colores__Detalles, $key: "texto"), space-around, center);

    @include responsive() {
        height: max-content;
    }

    & img {
        height: 60%;
        border-radius: 100%;

        @include responsive() {
            height: 5vh;
        }
    }

    & nav {

        & a {
            margin: 0 1rem;
        }
    }

}